body {
  margin: 0;
  height: 100vh;
  font-family: 'Merriweather', serif;
  background-color: #FBE8A6;
  box-sizing: border-box;
  padding: 0 0.5em;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

#root {
  height: 100vh;
}